@import url(https://fonts.googleapis.com/css?family=Montserrat: 300,400,500,600,700,800,900&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(9, 9, 9);
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  /* background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
  background: -webkit-gradient(linear, left top, right top, from(rgb(87, 81, 179)), color-stop(35%, rgba(100, 214, 242, 0.992)), to(rgb(219, 150, 227)));
  background: -o-linear-gradient(left, rgb(87, 81, 179) 0%, rgba(100, 214, 242, 0.992) 35%, rgb(219, 150, 227) 100%);
  background: linear-gradient(90deg, rgb(87, 81, 179) 0%, rgba(100, 214, 242, 0.992) 35%, rgb(219, 150, 227) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5751b3",endColorstr="#00ffbb",GradientType=1);
  padding-bottom: 172px;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 100rem;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 69px;
  cursor: pointer;
  width: 12.5rem;
}

.header__logo img {
  max-width: 100%;
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: auto;
}

.header__favorite_btn {
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  line-height: 0;
}

.header__favorite_btn:hover {
  color: rgb(244, 190, 190);
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.catalog__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1236px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 196px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}

.catalog__btn-add {
  color: #fff;
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
}

.tracksList-hidden {
  max-width: 1240px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 30px;
  color: white;
  display: none;
}

.player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 12px;
  max-width: 1228px;
  margin: 0 auto;
  -webkit-transition: bottom 0.5s ease;
  -o-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
  padding: 24px;
}

.player_active {
  bottom: 26px;
}

.player__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 3fr 1fr;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.player__track-info {
  text-align: left;
  padding: 14px 8px;
}

.track-info_title {
  font-weight: 600;
  margin-bottom: 6px;
}

.track-info_artist {
  font-weight: 300;
  font-size: 14px;
}

.player__controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.player__icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: scale 0.2s ease-in-out;
  -o-transition: scale 0.2s ease-in-out;
  transition: scale 0.2s ease-in-out;
}

.player__icon:hover {
  scale: 1.2;
}

.player__icon_stop {
  background-image: url("../img/icons/stop.svg");
}

.player__icon_prev {
  background-image: url("../img/icons/prev.svg");
}

.player__icon_pause {
  background-image: url("../img/icons/pause.svg");
}

.player__icon_play {
  background-image: url("../img/icons/play.svg");
}

.player__icon_next {
  background-image: url("../img/icons/next.svg");
}

.player__icon_like {
  background-image: url("../img/icons/like-o.svg");
}

.player__icon_like_active {
  -webkit-filter: drop-shadow(0 0 2px tomato);
          filter: drop-shadow(0 0 2px tomato);
}

.player__progress-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding-right: 9px;
}

.player__progress {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 487px;
}

.player__progress-input {
  width: 100%;
  padding: 9px 0;
  cursor: pointer;
  background-color: transparent;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.player__progress-input::-webkit-slider-runnable-track {
  background-color: #1e5a32;
  border: none;
  border-radius: 20px;
  height: 6px;
}

.player__progress-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  margin-top: -9px;
  width: 12px;
  height: 24px;
  background: #ffffff;
  border: 2px solid transparent;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.player__progress-input:hover::-webkit-slider-thumb,
.player__progress-input:focus::-webkit-slider-thumb {
  border-color: #000000;
}

.player__time {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.player__volume-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.player__volume {
  background: url("../img/icons/volume.svg") center/contain no-repeat;
  height: 24px;
  width: 146px;
}

.player__volume-input {
  background-color: transparent;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.player__volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  width: 12px;
  height: 24px;
  background: #ffffff;
  border: 2px solid transparent;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.player__icon_mute {
  background-image: url("../img/icons/volume-on.svg");
}

.player__icon_mute-off {
  background-image: url("../img/icons/volume-off.svg");
}

.player__volume-input:hover::-webkit-slider-thumb,
.player__volume-input:focus::-webkit-slider-thumb {
  border-color: #000000;
}

.search {
  position: relative;
  max-width: 692px;
  height: 36px;
}

.search__input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  padding-left: 16px;
  padding-right: 46px;
  font-weight: 300;
  font-size: 14px;
}

.search__input::-webkit-search-cancel-button {
  display: none;
}

.search__btn {
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 0;
}

.track__info {
  text-align: left;
  padding: 14px 8px;
}

.track_title {
  font-weight: 600;
  margin-bottom: 6px;
}

.track_artist {
  font-weight: 300;
  font-size: 14px;
}

.track {
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.track_active {
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.track__img-wrap {
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
  line-height: 0;
  position: relative;
}

.track__img-wrap::after {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateY(90deg);
          transform: translate(-50%, -50%) rotateY(90deg);
  background-image: url("../img/icons/play.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.track__info {
  border-radius: 0px 0px 12px 12px;
  background-color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.track:hover .track__img-wrap::after,
.track:focus .track__img-wrap::after {
  -webkit-transform: translate(-50%, -50%) rotateY(0deg);
          transform: translate(-50%, -50%) rotateY(0deg);
  opacity: 1;
}

.track:active .track__img-wrap::after {
  -webkit-transform: translate(-50%, -50%) rotateY(0deg) scale(1.3);
          transform: translate(-50%, -50%) rotateY(0deg) scale(1.3);
  opacity: 1;
}

.track_active:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.track_active .track__img-wrap::after {
  -webkit-transform: translate(-50%, -50%) rotateY(0deg);
          transform: translate(-50%, -50%) rotateY(0deg);
  opacity: 1;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  background-image: url("../img/icons/pause.svg");
}

.track_pause .track__img-wrap::after {
  background-image: url("../img/icons/play.svg");
}

.track_active:hover .track__img-wrap::after {
  background-color: #fff;
}

@media (max-width: 1024px) {
  .header__container {
    padding: 0 22px;
  }

  .header__search {
    margin-right: 90px;
  }

  .catalog__container {
    padding: 0 14px;
  }

  .player__container {
    -ms-grid-columns: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 968px) {
  .player {
    right: 34px;
    left: 34px;
    padding: 22px 60px;
    border-radius: 30px;
  }

  .player_active {
    bottom: 24px;
  }

  .player__container {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 27px 20px;
  }

  .player__progress-wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-column: 1/-1;
  }

  .player__progress {
    max-width: none;
  }

  .player__controller {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .player__volume-wrap {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (max-width: 768px) {
  .header__container {
    padding: 0 15px;
    max-width: 610px;
  }

  .header__logo {
    margin-right: 12px;
  }

  .header__search {
    margin-right: 0;
  }
}

@media (max-width: 740px) {
  .player_active {
    bottom: 0;
  }

  .player {
    border-radius: 20px 20px 0 0;
  }

  .player__container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .player__volume-wrap {
    display: none;
  }

  .player__controller {
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .player__progress-wrap {
    padding-left: 0;
  }
}

@media (max-width: 560px) {
  .header {
    padding-top: 20px;
  }

  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 17px;
  }

  .header__search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .catalog__container {
    padding: 0 11px;
    grid-template-columns: repeat(auto-fill, 148px);
    gap: 2px;
  }

  .catalog__btn-add {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    gap: 4px;
  }

  .player {
    left: 0;
    right: 0;
    gap: 16px;
    padding: 16px 15px;
  }

  .player__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .player__controller {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .player__track-info {
    text-align: center;
  }

  .track__info {
    padding: 8px;
  }

  .track_title {
    font-style: 14px;
    margin-bottom: 4px;
  }

  .track_artist {
    font-size: 14px;
  }

  .track {
    padding: 3px;
    border-width: 1px;
    border-radius: 14px;
  }
}